@model Events.ItAcademy.MVC.Models.EditSettingsModel

@{
    ViewData["Title"] = "EventSettings";
}

<h1>EventSettings</h1>

<h4>EditSettingsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EventSettings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventLastEditDateFromUpload" class="control-label"></label>
                <input asp-for="EventLastEditDateFromUpload" class="form-control" />
                <span asp-validation-for="EventLastEditDateFromUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
