@model Events.ItAcademy.Application.EventsSetups.Responses.EventSetupResponseModel


<h1>GetEventSetup</h1>

<h4>EventSetupResponseModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEventReserve" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReserveTimeLengthInMinutes" class="control-label"></label>
                <input name="reserveTimeLengthInMinutes" asp-for="ReserveTimeLengthInMinutes" class="form-control" />
                <span asp-validation-for="ReserveTimeLengthInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="EditEventEditTime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EditEventAfterUploadInDays" class="control-label"></label>
                <input name="editEventAfterUploadInDays" asp-for="EditEventAfterUploadInDays" class="form-control" />
                <span asp-validation-for="EditEventAfterUploadInDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home"> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*
<h2>Edit Event Setup</h2>

@using (Html.BeginForm())
{
    <div>
        <label>Edit Event After Upload In Days:</label>
        @Html.TextBoxFor(m => m.EditEventAfterUploadInDays)
        <input type="submit" name="editEventAfterUploadInDays" value="Save" formaction="@Url.Action("EditEventReserve", new { editEventAfterUploadInDays = Model.EditEventAfterUploadInDays })" />
    </div>

    <div>
        <label>Reserve Time Length In Minutes:</label>
        @Html.TextBoxFor(m => m.ReserveTimeLengthInMinutes)
        <input type="submit" name="reserveTimeLengthInMinutes" value="Save" formaction="@Url.Action("EditEventSetup", new { reserveTimeLengthInMinutes = Model.ReserveTimeLengthInMinutes })" />
    </div>
}
*@
